.carousel-indicators {
  visibility: hidden;
}

.carousel-control {
  visibility: hidden;
}

.carouselImgContainer{
  width: 100vw;
  height: 300px;
  overflow: hidden;

}
.carouselImg {
  width: 100%;
}