.carousel-indicators {
  visibility: hidden;
}

.carousel-control {
  visibility: hidden;
}

.carouselContainer{
  padding: 40px;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  margin-bottom: 60px;
}

.carouselImgContainer{
  width: 75vw;
  height: 450px;
  overflow: hidden;

}
.carouselImg {
  width: 100%;
}