.inventoryMain{
  width: 100%;
  height: 100%;
  margin-bottom: 270px;
}

.singleItemInv{
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  top: 100px;
  left: 100px;
  width: 80%;
  height: 600px;
  border: 3px solid black;
  padding: 10px;
}

.invDeleteButton{
  display: flex;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 26px;
  height: 26px;
  padding-top: 3px;
  border-radius: 50%;
  font-family: 'woodfordbourne-bold';
  font-size: 0.8em;
  color: white;
  background-color: black;
  border: 2px solid white;

  h5{
    color: white;
    position: relative;
    top:-9px;
    left:0px;
  }
}

.invDeleteButton:focus{
  outline: none;
}

.singleItemTop{
  display: flex;
  width: 100%;
  height: 50%;
}

.singleItemTL{
  width: 50%;
  height: 100%;
}

.singleItemTR{
  width: 50%;
  height: 100%;

  img{
    height: 100%;
    width: auto;
  }
}


.singleItemBottom{
  width: 100%;
  height: 50%;
}

.inventoryContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inventoryHeader{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #004B8D;
}

#headerLeft{
  width: 75%;
  padding-left: 10px;
  h3{
    color: white;
  }
}

#headerRight{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 10px;
  width: 25%;
  h5{
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.inventoryGrid{
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
  background-color: lightblue;
  width: 90%;
  margin-top: 10px;
  align-self: center;
}

.inventoryLabels{
  display: flex;
  width: 100%;
  height: 30px;
  background-color: lightgray;
  align-self: flex-start;
}

.columnHeader{
  background-color: transparent;
  border: 1px solid black;
  font-size: 0.8em;
  height: 100%;
}

.columnHeader:focus{
  outline: none;
}

.productCell{
  text-align: center;
  outline: 1px solid black;
  height: 20px;
}

.inventoryRow{
  display: flex;

  button{
    border: none;
    background-color: transparent;
    color: blue;
  }

  button:hover{
    color: black;
    text-decoration: underline;
  }
}

.invTotals{
  background-color: white;
  height: 20px;
  width: 100%;
  border-top: 1px solid black;

  .productSku{
    width: 15%;
  }
  .purchasePrice{
    background-color: lightgoldenrodyellow;
  }

  .repairCost{
    background-color: lightgoldenrodyellow;
  }

  .retailPrice{
    background-color: lightgoldenrodyellow;
  }

  .invQuantity{
    background-color: lightgoldenrodyellow;
  }
}

.index{
  width: 2%
}

.productSku{
  width: 13%;
}

.productNumber{
  width: 7%;
}
.productName{
  width: 13%;
}
.invCategory{
  width: 10%;
}
.invSize{
  width: 3%;
}
.invColor{
  width: 7%;
}
.invStatus{
  width: 7%;
}
.purchaseDate{
  width: 7%;
}
.purchasePrice{
  width: 7%;
}
.repairCost{
  width: 7%;
}
.retailPrice{
  width: 7%;
}
.dateSold{
  width: 7%;
}
.invQuantity{
  width: 3%;
}
