
#searchBar{
  display: inline-flex;
  border-bottom: 1px black;
  height: 34px;
}

.searchBtn {
  border: none;
}

.searchBtn:focus{
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.searchBtn:hover{
  border:none;
  background-color: #fff;
  color: #fff;
}

#searchImg {
  width: 20px;
  height: auto;
}

div, .navbar-form{
  border: none;
}

input, .form-control {
  border: none;
  border-bottom: black 1px solid;
  box-shadow: none;
  -webkit-box-shadow: none;

}

.form-control:focus{
  border-bottom: grey 1px solid;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}